@page
@using FindJob.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using FindJob.Web.Pages.Employers.Employer
@using FindJob.Localization
@using FindJob.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<FindJobResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Employer"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Employer"].Value);
    PageLayout.Content.MenuItemName = FindJobMenus.Employer;
}

@section scripts
{
    <abp-script src="/Pages/Employers/Employer/index.js" />
}
@section styles
{
    <abp-style src="/Pages/Employers/Employer/index.css"/>
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_8">
                <abp-card-title>@L["Employer"]</abp-card-title>
            </abp-column>
            
            <abp-column size-md="_4" class="text-end">
                <form method="POST" asp-page-handler="Export" class="btn-action-top ml-2 mr-3">
                    <abp-button button-type="Success" class="" style="float:right" type="Submit"><i class="fas fa-file-excel cursor-pointer"></i> @L["ExportExcel"]</abp-button>
                </form>
                @if (await Authorization.IsGrantedAsync(FindJobPermissions.Employer.Create))
                {
                    <abp-button id="NewEmployerButton"
                                text="@L["CreateEmployer"].Value"
                                icon="plus"
                                button-type="Primary" style="float:right; margin-right:5px" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="EmployerTable" class="nowrap"/>
    </abp-card-body>
</abp-card>
